@model BusinessFormModel
@{
    ViewData["Title"] = "Add Business";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr/>

<partial name="_BusinessFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}