@model BusinessFormModel
@{
    ViewData["Title"] = "Edit Business";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<partial name="_BusinessFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}