@model IndexViewModel

@{
    ViewData["Title"] = "Explore Umami";
}

<div class="text-center">
    <h2 class="display-4">Welcome to @ViewData["Title"]</h2>
    <hr/>
    <h3>This is your administrative area. You can approve added businesses to make them visible to other people, edit them before approving or delete them.
        You can also grant administrative permissions to other users.
    </h3>
</div>
<hr/>
<div>
 <h4 class="text-center mb-3">Latest businesses for approval:</h4>
    <div class="row">
        @foreach (var business in Model.BusinessesToApprove)
        {
            <partial name="_AdminBusinessPartial" model="@business" />
        }
    </div>
</div>