@{
    ViewData["Title"] = "Unauthorized";
}

<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
        <br />
        <div class="row">
            <div class="col-md-10">
                <img src="https://mlx3lspc9ed5.i.optimole.com/cb:HyqB.35717/w:auto/h:auto/q:mauto/https://www.bluehost.com/blog/wp-content/uploads/2023/06/what-is-a-401-error.png" alt="Unauthorized Access" class="img-thumbnail">
                <div class="text-left h4">
                    <p>Uh oh! You don't have permission to access this page.</p>
                    <p>This could be due to:</p>
                    <ul>
                        <li>Incorrect login credentials</li>
                        <li>Trying to access a restricted area</li>
                    </ul>
                    <p>If you believe this is a mistake, please contact the website administrator.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3"></div>
</div>