@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
        <br />
        <div class="row">
            <div class="col-md-10">
                <img src="https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7898.jpg?w=1380&t=st=1712950361~exp=1712950961~hmac=63e581d5e02b89426efb26beb3f490557293621c4c84758f73b20624cda5cb7b" alt="Alternative image" class="img-thumbnail">
                <div class="text-left h4">
                    <p>Oops, better check that URL. Page was not found.</p>
                    <br />
                </div>
                <div class="text-left h4">
                    Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3"></div>
</div>