@model PrefectureInfoModel;
@{
    ViewData["Title"] = "Explore Umami";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <p>Click on the map to explore by prefecture.</p>
</div>

<div id="map-container">
   <div class="container-fluid">
       <div class="row">
           <div class="col-12 col-lg-8">
                <partial name="_JapanMap" />
           </div>
            <div class="card-col col-12 col-lg-4 hidden">
                <div class="business-card">
                    <h3 class="prefecture-name"></h3>
                    <h4 class="business-count"></h4>
                    <div class="highest-rated">
                        <hr />
                        <h4>
                            <i class="fa fa-star" aria-hidden="true"></i> Highest-rated Business
                        </h4>
                    </div>
                    <div class="card">
                        
                        <img class="card-img-top img-fluid img-thumbnail" src="" alt="">
                        <div class="card-body">
                            <h5 class="card-title">
                                
                            </h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
       </div>
   </div>
</div>
