@{
    ViewData["Title"] = "Explore Umami";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <p>Click on the map to explore by prefecture.</p>
</div>
<div id="map-container">
    <partial name="_JapanMap" />
</div>
