@model SwitchFormModel
@{
    ViewBag.Title = "Switch to Business Owner";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary(true, "", new { @class = "small text-danger" })
    </div>
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            @Html.AntiForgeryToken()  <div class="form-group">
                <label asp-for="PhoneNumber">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control"
                       placeholder="555-555-5555">
                <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control"
                       placeholder="John">
                <span asp-validation-for="FirstName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control"
                       placeholder="Doe">
                <span asp-validation-for="LastName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfBusiness">Name of Business</label>
                <input asp-for="NameOfBusiness" class="form-control"
                       placeholder="John's Business">
                <span asp-validation-for="NameOfBusiness" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3 " type="submit" value="Switch to Business Owner" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}